<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- Outer Row -->
<div class="container">
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image img-fluid"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>

                  <p class="mb-4">{{ATRIBUTE_SISTEMA_NAME}} -
                      {{ATRIBUTE_MINISTERIO |titlecase}}
                  </p>


                </div>
                <form  ngNativeValidate #forma="ngForm" (ngSubmit)="ingresar(forma)" >
                  <div class="form-group">
                      <input [ngModel]="username" name="username" class="form-control" type="text" required placeholder="Usuario">
                  </div>
                  <div class="form-group">
                      <input ngModel  name="password" class="form-control" type="password"
                      required placeholder="Password" #passwordField>
                      <span (click)="passwordField.type=passwordField.type=='password'?'text':'password'"
                      class="fa fa-fw field-icon toggle-password"
                      [ngClass]="(passwordField.type=='password')?' fa-eye':' fa-eye-slash'"></span>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input [(ngModel)]="recuerdame" name="recuerdame" id="customCheck" type="checkbox" class="custom-control-input">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>

                </form>
                <hr>
                <div class="text-center">
                    <div class="col-sm-12 text-center">
                        No tiene una cuenta? <a [routerLink]="['/register']"
                         class="text-primary m-l-5"><b>Registrarse</b></a>
                    </div>
                </div>

              <div class="alert alert-warning text-center" *ngIf="this.error">
                <strong>Login Incorrecto</strong>
                <br>
                <span>{{this.error.mensaje}}</span>
              </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
